* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v0_2 {
  width: 100%;
  height: 1120px;
  background: rgba(249,250,251,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_3 {
  width: 100%;
  height: 61px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1019px;
  left: 294px;
  overflow: hidden;
}
.v0_4 {
  width: 100%;
  height: 1px;
  background: rgba(223,227,232,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(150,150,150,1);
  overflow: hidden;
}
.v0_5 {
  width: 110px;
  color: rgba(97,97,97,1);
  position: absolute;
  top: 17px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v0_6 {
  width: 810px;
  color: rgba(106,107,111,1);
  position: absolute;
  top: 43px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 0.5;
  text-align: left;
}
.v0_140 {
  width: 100%;
  height: 284px;
  background: url("../images/v0_140.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 294px;
  overflow: hidden;
}
.v0_142 {
  width: 100%;
  height: 284px;
  background: url("../images/v0_142.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v0_141 {
  width: 100%;
  height: 284px;
  background: url("../images/v0_141.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v0_143 {
  width: 100%;
  height: 284px;
  background: linear-gradient(rgba(22,101,216,0.4701704680919647), rgba(22,101,216,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_183 {
  width: 270px;
  height: 1056px;
  background: url("../images/v0_183.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 0px;
  overflow: hidden;
}
.v0_184 {
  width: 270px;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 1px 3px rgba(0.24709999561309814, 0.24709999561309814, 0.26669999957084656, 0.15000000596046448);
  overflow: hidden;
}
.v0_185 {
  width: 238px;
  height: 94px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 560px;
  left: 16px;
  overflow: hidden;
}
.v0_186 {
  width: 47px;
  color: rgba(0,0,0,0.328974187374115);
  position: absolute;
  top: 25px;
  left: 15px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v0_187 {
  width: 238px;
  height: 46px;
  background: url("../images/v0_187.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 0px;
  overflow: hidden;
}
.v0_188 {
  width: 238px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_189 {
  width: 238px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_190 {
  width: 18px;
  height: 21px;
  background: url("../images/v0_190.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 19px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v0_201 {
  width: 24px;
  height: 24px;
  background: url("../images/v0_201.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 3px;
  overflow: hidden;
}
.v0_202 {
  width: 24px;
  height: 24px;
  background: rgba(101,120,137,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_203 {
  width: 50px;
  color: rgba(101,120,137,1);
  position: absolute;
  top: 13px;
  left: 48px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v0_204 {
  width: 238px;
  height: 1px;
  background: rgba(228,231,235,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_205 {
  width: 238px;
  height: 316px;
  background: url("../images/v0_205.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 228px;
  left: 16px;
  overflow: hidden;
}
.v0_206 {
  width: 238px;
  height: 46px;
  background: url("../images/v0_206.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_207 {
  width: 238px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_208 {
  width: 238px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_209 {
  width: 20px;
  height: 20px;
  background: url("../images/v0_209.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 18px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v0_228 {
  width: 24px;
  height: 24px;
  background: url("../images/v0_228.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  overflow: hidden;
}
.v0_229 {
  width: 24px;
  height: 24px;
  background: rgba(101,120,137,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_230 {
  width: 68px;
  color: rgba(101,120,137,1);
  position: absolute;
  top: 13px;
  left: 48px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v0_231 {
  width: 238px;
  height: 46px;
  background: url("../images/v0_231.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 108px;
  left: 0px;
  overflow: hidden;
}
.v0_232 {
  width: 238px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_233 {
  width: 238px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_234 {
  width: 20px;
  height: 18px;
  background: url("../images/v0_234.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 18px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v0_245 {
  width: 24px;
  height: 24px;
  background: url("../images/v0_245.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 2px;
  overflow: hidden;
}
.v0_246 {
  width: 24px;
  height: 24px;
  background: rgba(101,120,137,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_247 {
  width: 57px;
  color: rgba(101,120,137,1);
  position: absolute;
  top: 13px;
  left: 48px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v0_248 {
  width: 238px;
  height: 46px;
  background: url("../images/v0_248.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 0px;
  overflow: hidden;
}
.v0_249 {
  width: 238px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_250 {
  width: 238px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_251 {
  width: 20px;
  height: 14px;
  background: url("../images/v0_251.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 18px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v0_266 {
  width: 24px;
  height: 24px;
  background: url("../images/v0_266.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 2px;
  overflow: hidden;
}
.v0_267 {
  width: 24px;
  height: 24px;
  background: rgba(101,120,137,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_268 {
  width: 36px;
  color: rgba(101,120,137,1);
  position: absolute;
  top: 13px;
  left: 48px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v0_269 {
  width: 238px;
  height: 46px;
  background: url("../images/v0_269.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 162px;
  left: 0px;
  overflow: hidden;
}
.v0_270 {
  width: 238px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_271 {
  width: 238px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_272 {
  width: 17px;
  height: 22px;
  background: url("../images/v0_272.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 20px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v0_281 {
  width: 24px;
  height: 24px;
  background: url("../images/v0_281.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 4px;
  overflow: hidden;
}
.v0_282 {
  width: 24px;
  height: 24px;
  background: rgba(101,120,137,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_283 {
  width: 92px;
  color: rgba(101,120,137,1);
  position: absolute;
  top: 13px;
  left: 48px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v0_284 {
  width: 238px;
  height: 46px;
  background: url("../images/v0_284.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 216px;
  left: 0px;
  overflow: hidden;
}
.v0_285 {
  width: 238px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_286 {
  width: 238px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_287 {
  width: 19px;
  height: 16px;
  background: url("../images/v0_287.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 18px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v0_294 {
  width: 24px;
  height: 24px;
  background: url("../images/v0_294.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 2px;
  overflow: hidden;
}
.v0_295 {
  width: 24px;
  height: 24px;
  background: rgba(101,120,137,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_296 {
  width: 73px;
  color: rgba(101,120,137,1);
  position: absolute;
  top: 13px;
  left: 48px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v0_297 {
  width: 238px;
  height: 46px;
  background: url("../images/v0_297.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 270px;
  left: 0px;
  overflow: hidden;
}
.v0_298 {
  width: 238px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_299 {
  width: 238px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_300 {
  width: 20px;
  height: 20px;
  background: url("../images/v0_300.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 18px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v0_309 {
  width: 24px;
  height: 24px;
  background: url("../images/v0_309.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  overflow: hidden;
}
.v0_310 {
  width: 24px;
  height: 24px;
  background: rgba(101,120,137,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_311 {
  width: 96px;
  color: rgba(101,120,137,1);
  position: absolute;
  top: 13px;
  left: 48px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v0_312 {
  width: 238px;
  height: 1px;
  background: rgba(228,231,235,1);
  opacity: 1;
  position: absolute;
  top: 203px;
  left: 16px;
  overflow: hidden;
}
.v0_313 {
  width: 112px;
  height: 156px;
  background: url("../images/v0_313.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 79px;
  overflow: hidden;
}
.v0_314 {
  width: 100px;
  height: 100px;
  background: url("../images/v0_314.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 5px;
}
.v0_315 {
  width: 112px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 116px;
  left: 0px;
  overflow: hidden;
}
.v0_316 {
  width: 113px;
  color: rgba(57,59,63,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v0_317 {
  width: 73px;
  color: rgba(158,160,165,1);
  position: absolute;
  top: 24px;
  left: 19px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v0_318 {
  width: 146px;
  height: 42px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 452px;
  left: 1743px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v0_325 {
  width: 110px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 18px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v0_326 {
  width: 520px;
  height: 44px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 451px;
  left: 290px;
  overflow: hidden;
}
.v0_327 {
  width: 512px;
  height: 36px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
  border: 1px solid rgba(63,63,68,0.004999999888241291);
  box-shadow: 0px 1px 3px rgba(0.24709999561309814, 0.24709999561309814, 0.26669999957084656, 0.15000000596046448);
}
.v0_328 {
  width: 17px;
  height: 17px;
  background: url("../images/v0_328.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 17px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v0_332 {
  width: 24px;
  height: 24px;
  background: url("../images/v0_332.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
  overflow: hidden;
}
.v0_333 {
  width: 24px;
  height: 24px;
  background: rgba(158,160,165,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_334 {
  width: 378px;
  color: rgba(158,160,165,1);
  position: absolute;
  top: 13px;
  left: 48px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v0_335 {
  width: 264px;
  height: 106px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 315px;
  left: 315px;
  overflow: hidden;
}
.v0_336 {
  width: 145px;
  color: rgba(57,59,63,1);
  position: absolute;
  top: 79px;
  left: 119px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v0_337 {
  width: 52px;
  color: rgba(158,160,165,1);
  position: absolute;
  top: 63px;
  left: 119px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v0_338 {
  width: 100px;
  height: 100px;
  background: url("../images/v0_338.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
  overflow: hidden;
}
.v0_339 {
  width: 100px;
  height: 100px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 3px solid rgba(249,250,251,1);
}
.v0_340 {
  width: 58px;
  height: 58px;
  background: url("../images/v0_340.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 21px;
  overflow: hidden;
}
.v0_341 {
  width: 58px;
  height: 58px;
  background: url("../images/v0_341.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 58px;
  transform: rotate(-180deg);
  overflow: hidden;
}
.v0_342 {
  width: 58px;
  height: 58px;
  background: url("../images/v0_342.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 58px;
  overflow: hidden;
}
.v0_343 {
  width: 58px;
  height: 58px;
  background: linear-gradient(rgba(94,82,246,1), rgba(110,228,215,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v0_344 {
  width: 58px;
  height: 58px;
  background: url("../images/v0_344.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: rotate(-180deg);
  overflow: hidden;
}
.v0_345 {
  width: 58px;
  height: 58px;
  background: linear-gradient(rgba(94,82,246,1), rgba(110,228,215,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: rotate(-180deg);
}
.v0_346 {
  width: 512px;
  height: 227px;
  background: url("../images/v0_346.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 514px;
  left: 294px;
  overflow: hidden;
}
.v0_347 {
  width: 512px;
  height: 227px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(63,63,68,0.004999999888241291);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0.24709999561309814, 0.24709999561309814, 0.26669999957084656, 0.15000000596046448);
  overflow: hidden;
}
.v0_348 {
  width: 456px;
  height: 62px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 103px;
  left: 28px;
  overflow: hidden;
}
.v0_349 {
  width: 68px;
  color: rgba(33,43,54,1);
  position: absolute;
  top: 0px;
  left: 194px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v0_350 {
  width: 456px;
  color: rgba(101,120,137,1);
  position: absolute;
  top: 29px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v0_351 {
  width: 64px;
  height: 64px;
  background: url("../images/v0_351.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 224px;
  overflow: hidden;
}
.v0_353 {
  width: 64px;
  height: 64px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(237,239,242,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v0_352 {
  width: 64px;
  height: 64px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(237,239,242,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v0_354 {
  width: 58px;
  height: 58px;
  background: url("../images/v0_354.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
  overflow: hidden;
}
.v0_355 {
  width: 464px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 181px;
  left: 20px;
  overflow: hidden;
}
.v0_356 {
  width: 464px;
  height: 1px;
  background: rgba(237,239,242,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_357 {
  width: 92px;
  color: rgba(101,120,137,1);
  position: absolute;
  top: 16px;
  left: 32px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v0_358 {
  width: 20px;
  height: 20px;
  background: url("../images/v0_358.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 2px;
  overflow: hidden;
}
.v0_359 {
  width: 20px;
  height: 20px;
  background: url("../images/v0_359.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v0_365 {
  width: 24px;
  height: 24px;
  background: url("../images/v0_365.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  overflow: hidden;
}
.v0_366 {
  width: 24px;
  height: 24px;
  background: rgba(102,120,138,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_367 {
  width: 115px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 349px;
  overflow: hidden;
}
.v0_368 {
  width: 83px;
  color: rgba(101,120,137,1);
  position: absolute;
  top: 5px;
  left: 32px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}
.v0_369 {
  width: 24px;
  height: 24px;
  background: url("../images/v0_369.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_370 {
  width: 24px;
  height: 24px;
  background: url("../images/v0_370.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v0_374 {
  width: 24px;
  height: 24px;
  background: url("../images/v0_374.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_375 {
  width: 24px;
  height: 24px;
  background: rgba(102,120,138,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_376 {
  width: 23px;
  height: 46px;
  background: rgba(215,215,215,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 305px;
  border: 0px solid rgba(150,150,150,1);
  overflow: hidden;
}
.v0_377 {
  width: 512px;
  height: 227px;
  background: url("../images/v0_377.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 765px;
  left: 294px;
  overflow: hidden;
}
.v0_378 {
  width: 512px;
  height: 227px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(63,63,68,0.004999999888241291);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0.24709999561309814, 0.24709999561309814, 0.26669999957084656, 0.15000000596046448);
  overflow: hidden;
}
.v0_379 {
  width: 456px;
  height: 62px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 103px;
  left: 28px;
  overflow: hidden;
}
.v0_380 {
  width: 30px;
  color: rgba(33,43,54,1);
  position: absolute;
  top: 0px;
  left: 213px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v0_381 {
  width: 456px;
  color: rgba(101,120,137,1);
  position: absolute;
  top: 29px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v0_382 {
  width: 64px;
  height: 64px;
  background: url("../images/v0_382.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 224px;
  overflow: hidden;
}
.v0_384 {
  width: 64px;
  height: 64px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(199,206,212,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v0_383 {
  width: 64px;
  height: 64px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(199,206,212,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v0_385 {
  width: 64px;
  height: 64px;
  background: url("../images/v0_385.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_386 {
  width: 464px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 181px;
  left: 20px;
  overflow: hidden;
}
.v0_387 {
  width: 464px;
  height: 1px;
  background: rgba(237,239,242,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_388 {
  width: 92px;
  color: rgba(101,120,137,1);
  position: absolute;
  top: 16px;
  left: 32px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v0_389 {
  width: 20px;
  height: 20px;
  background: url("../images/v0_389.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 2px;
  overflow: hidden;
}
.v0_390 {
  width: 20px;
  height: 20px;
  background: url("../images/v0_390.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v0_396 {
  width: 24px;
  height: 24px;
  background: url("../images/v0_396.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  overflow: hidden;
}
.v0_397 {
  width: 24px;
  height: 24px;
  background: rgba(102,120,138,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_398 {
  width: 115px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 349px;
  overflow: hidden;
}
.v0_399 {
  width: 83px;
  color: rgba(101,120,137,1);
  position: absolute;
  top: 5px;
  left: 32px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}
.v0_400 {
  width: 24px;
  height: 24px;
  background: url("../images/v0_400.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_401 {
  width: 24px;
  height: 24px;
  background: url("../images/v0_401.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v0_405 {
  width: 24px;
  height: 24px;
  background: url("../images/v0_405.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_406 {
  width: 24px;
  height: 24px;
  background: rgba(102,120,138,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_407 {
  width: 23px;
  height: 46px;
  background: rgba(215,215,215,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 305px;
  border: 0px solid rgba(150,150,150,1);
  overflow: hidden;
}
.v0_408 {
  width: 512px;
  height: 227px;
  background: url("../images/v0_408.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 765px;
  left: 839px;
  overflow: hidden;
}
.v0_409 {
  width: 512px;
  height: 227px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(63,63,68,0.004999999888241291);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0.24709999561309814, 0.24709999561309814, 0.26669999957084656, 0.15000000596046448);
  overflow: hidden;
}
.v0_410 {
  width: 424px;
  height: 62px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 103px;
  left: 44px;
  overflow: hidden;
}
.v0_411 {
  width: 56px;
  color: rgba(33,43,54,1);
  position: absolute;
  top: 0px;
  left: 184px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v0_412 {
  width: 424px;
  color: rgba(101,120,137,1);
  position: absolute;
  top: 29px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v0_413 {
  width: 63px;
  height: 63px;
  background: url("../images/v0_413.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 224px;
  overflow: hidden;
}
.v0_415 {
  width: 63px;
  height: 63px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(199,206,212,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v0_414 {
  width: 63px;
  height: 63px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(199,206,212,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v0_416 {
  width: 63px;
  height: 63px;
  background: url("../images/v0_416.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_417 {
  width: 464px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 181px;
  left: 20px;
  overflow: hidden;
}
.v0_418 {
  width: 464px;
  height: 1px;
  background: rgba(237,239,242,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_419 {
  width: 92px;
  color: rgba(101,120,137,1);
  position: absolute;
  top: 16px;
  left: 32px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v0_420 {
  width: 20px;
  height: 20px;
  background: url("../images/v0_420.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 2px;
  overflow: hidden;
}
.v0_421 {
  width: 20px;
  height: 20px;
  background: url("../images/v0_421.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v0_427 {
  width: 24px;
  height: 24px;
  background: url("../images/v0_427.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  overflow: hidden;
}
.v0_428 {
  width: 24px;
  height: 24px;
  background: rgba(102,120,138,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_429 {
  width: 115px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 349px;
  overflow: hidden;
}
.v0_430 {
  width: 83px;
  color: rgba(101,120,137,1);
  position: absolute;
  top: 5px;
  left: 32px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}
.v0_431 {
  width: 24px;
  height: 24px;
  background: url("../images/v0_431.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_432 {
  width: 24px;
  height: 24px;
  background: url("../images/v0_432.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v0_436 {
  width: 24px;
  height: 24px;
  background: url("../images/v0_436.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_437 {
  width: 24px;
  height: 24px;
  background: rgba(102,120,138,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_438 {
  width: 23px;
  height: 46px;
  background: rgba(215,215,215,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 305px;
  border: 0px solid rgba(150,150,150,1);
  overflow: hidden;
}
.v0_439 {
  width: 512px;
  height: 227px;
  background: url("../images/v0_439.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 765px;
  left: 1374px;
  overflow: hidden;
}
.v0_440 {
  width: 512px;
  height: 227px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(63,63,68,0.004999999888241291);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0.24709999561309814, 0.24709999561309814, 0.26669999957084656, 0.15000000596046448);
  overflow: hidden;
}
.v0_441 {
  width: 456px;
  height: 62px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 103px;
  left: 28px;
  overflow: hidden;
}
.v0_442 {
  width: 105px;
  color: rgba(33,43,54,1);
  position: absolute;
  top: 0px;
  left: 176px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v0_443 {
  width: 456px;
  color: rgba(101,120,137,1);
  position: absolute;
  top: 29px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v0_444 {
  width: 63px;
  height: 63px;
  background: url("../images/v0_444.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 224px;
  overflow: hidden;
}
.v0_446 {
  width: 63px;
  height: 63px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(199,206,212,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v0_445 {
  width: 63px;
  height: 63px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(199,206,212,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v0_447 {
  width: 63px;
  height: 63px;
  background: url("../images/v0_447.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_448 {
  width: 464px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 181px;
  left: 20px;
  overflow: hidden;
}
.v0_449 {
  width: 464px;
  height: 1px;
  background: rgba(237,239,242,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_450 {
  width: 92px;
  color: rgba(101,120,137,1);
  position: absolute;
  top: 16px;
  left: 32px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v0_451 {
  width: 20px;
  height: 20px;
  background: url("../images/v0_451.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 2px;
  overflow: hidden;
}
.v0_452 {
  width: 20px;
  height: 20px;
  background: url("../images/v0_452.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v0_458 {
  width: 24px;
  height: 24px;
  background: url("../images/v0_458.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  overflow: hidden;
}
.v0_459 {
  width: 24px;
  height: 24px;
  background: rgba(102,120,138,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_460 {
  width: 115px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 349px;
  overflow: hidden;
}
.v0_461 {
  width: 83px;
  color: rgba(101,120,137,1);
  position: absolute;
  top: 5px;
  left: 32px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}
.v0_462 {
  width: 24px;
  height: 24px;
  background: url("../images/v0_462.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_463 {
  width: 24px;
  height: 24px;
  background: url("../images/v0_463.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v0_467 {
  width: 24px;
  height: 24px;
  background: url("../images/v0_467.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_468 {
  width: 24px;
  height: 24px;
  background: rgba(102,120,138,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_469 {
  width: 23px;
  height: 46px;
  background: rgba(215,215,215,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 305px;
  border: 0px solid rgba(150,150,150,1);
  overflow: hidden;
}
.v0_470 {
  width: 512px;
  height: 227px;
  background: url("../images/v0_470.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 514px;
  left: 839px;
  overflow: hidden;
}
.v0_471 {
  width: 512px;
  height: 227px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0.24709999561309814, 0.24709999561309814, 0.26669999957084656, 0.15000000596046448);
  overflow: hidden;
}
.v0_472 {
  width: 456px;
  height: 62px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 103px;
  left: 28px;
  overflow: hidden;
}
.v0_473 {
  width: 166px;
  color: rgba(33,43,54,1);
  position: absolute;
  top: 0px;
  left: 145px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v0_474 {
  width: 456px;
  color: rgba(101,120,137,1);
  position: absolute;
  top: 29px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v0_475 {
  width: 64px;
  height: 64px;
  background: url("../images/v0_475.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 224px;
  overflow: hidden;
}
.v0_477 {
  width: 64px;
  height: 64px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(237,239,242,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v0_476 {
  width: 64px;
  height: 64px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(237,239,242,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v0_478 {
  width: 54px;
  height: 54px;
  background: url("../images/v0_478.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 5px;
  overflow: hidden;
}
.v0_479 {
  width: 464px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 181px;
  left: 20px;
  overflow: hidden;
}
.v0_480 {
  width: 464px;
  height: 1px;
  background: rgba(237,239,242,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_481 {
  width: 92px;
  color: rgba(101,120,137,1);
  position: absolute;
  top: 16px;
  left: 32px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v0_482 {
  width: 20px;
  height: 20px;
  background: url("../images/v0_482.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 2px;
  overflow: hidden;
}
.v0_483 {
  width: 20px;
  height: 20px;
  background: url("../images/v0_483.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v0_489 {
  width: 24px;
  height: 24px;
  background: url("../images/v0_489.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  overflow: hidden;
}
.v0_490 {
  width: 24px;
  height: 24px;
  background: rgba(102,120,138,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_491 {
  width: 115px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 349px;
  overflow: hidden;
}
.v0_492 {
  width: 83px;
  color: rgba(101,120,137,1);
  position: absolute;
  top: 5px;
  left: 32px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}
.v0_493 {
  width: 24px;
  height: 24px;
  background: url("../images/v0_493.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_494 {
  width: 24px;
  height: 24px;
  background: url("../images/v0_494.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v0_498 {
  width: 24px;
  height: 24px;
  background: url("../images/v0_498.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_499 {
  width: 24px;
  height: 24px;
  background: rgba(102,120,138,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_500 {
  width: 23px;
  height: 46px;
  background: rgba(215,215,215,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 305px;
  border: 0px solid rgba(150,150,150,1);
  overflow: hidden;
}
.v0_501 {
  width: 512px;
  height: 227px;
  background: url("../images/v0_501.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 514px;
  left: 1374px;
  overflow: hidden;
}
.v0_502 {
  width: 512px;
  height: 227px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(63,63,68,0.004999999888241291);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0.24709999561309814, 0.24709999561309814, 0.26669999957084656, 0.15000000596046448);
  overflow: hidden;
}
.v0_503 {
  width: 456px;
  height: 62px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 103px;
  left: 28px;
  overflow: hidden;
}
.v0_504 {
  width: 45px;
  color: rgba(33,43,54,1);
  position: absolute;
  top: 0px;
  left: 206px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v0_505 {
  width: 456px;
  color: rgba(101,120,137,1);
  position: absolute;
  top: 29px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v0_506 {
  width: 63px;
  height: 63px;
  background: url("../images/v0_506.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 225px;
  overflow: hidden;
}
.v0_508 {
  width: 63px;
  height: 63px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(237,239,242,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v0_507 {
  width: 63px;
  height: 63px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(237,239,242,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v0_509 {
  width: 64px;
  height: 64px;
  background: url("../images/v0_509.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v0_510 {
  width: 464px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 181px;
  left: 20px;
  overflow: hidden;
}
.v0_511 {
  width: 464px;
  height: 1px;
  background: rgba(237,239,242,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_512 {
  width: 92px;
  color: rgba(101,120,137,1);
  position: absolute;
  top: 16px;
  left: 32px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v0_513 {
  width: 20px;
  height: 20px;
  background: url("../images/v0_513.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 2px;
  overflow: hidden;
}
.v0_514 {
  width: 20px;
  height: 20px;
  background: url("../images/v0_514.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v0_520 {
  width: 24px;
  height: 24px;
  background: url("../images/v0_520.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  overflow: hidden;
}
.v0_521 {
  width: 24px;
  height: 24px;
  background: rgba(102,120,138,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_522 {
  width: 115px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 349px;
  overflow: hidden;
}
.v0_523 {
  width: 83px;
  color: rgba(101,120,137,1);
  position: absolute;
  top: 5px;
  left: 32px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}
.v0_524 {
  width: 24px;
  height: 24px;
  background: url("../images/v0_524.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_525 {
  width: 24px;
  height: 24px;
  background: url("../images/v0_525.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v0_529 {
  width: 24px;
  height: 24px;
  background: url("../images/v0_529.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_530 {
  width: 24px;
  height: 24px;
  background: rgba(102,120,138,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_531 {
  width: 23px;
  height: 46px;
  background: rgba(215,215,215,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 305px;
  border: 0px solid rgba(150,150,150,1);
  overflow: hidden;
}
