<div>
  <app-header></app-header>
  <app-sidebar></app-sidebar>

  <div class='grid-wrapper'>
    <div class='row'>
      <app-user-info-git-hub class='cell-1-1' userDataUrl='https://api.github.com/users/Valemos'></app-user-info-git-hub>
      <app-info-block class='cell-1-1' header='Some info' content='Dashboard content'></app-info-block>
    </div>
    <div class='row'>
      <app-info-block class='cell-1-2' header='Some info' content='merged cell'></app-info-block>
    </div>
  </div>
</div>
