$primary-color: #3F51B5
$background-color: #fff

$font-color-emphasized: rgb(33, 43, 54)
$font-color-faded: rgb(158, 160, 165)
$font-color-primary: rgb(101, 120, 137)

$font-size-title: 24px
$font-size-normal: 16px
$font-size-small: 12px
